img{
    max-width: 100%;
    max-height: 100%;
}

section{
    padding-left: 7.5%;
    padding-right: 7.5%;
}

body{
    font-family: sans-serif;
}

.header{
    display: flex;
    position: sticky;
    top: 0px;
    background-color: white;
}

.header-right{
    color: black;
    padding-right: 7%;
    padding-top: 23px;
    font-weight: bold;
    font-family: sans-serif;
    float: right;
    word-spacing: 15px;
}

.header-left{
    flex: 30%;
    padding-top: 5px;
}


.header-right a:hover {
    background-color: #ddd;
    color: black;
    
}

.header-right{
    flex: 70%;
    direction: rtl;
}

red_bold{
    color: red;
    font-weight: bold;
}

.menu-highlight{
    background-color: #FFBC0D;
    border-radius: 0 0 70px 0;
    padding: 20px 40px 20px 20px;
    font-family: sans-serif;
}

.menu-general{
    padding-right: 50%;
}

.calories{
    background-color: #DB0007;
    border-radius: 70px;
    color: white;
    padding: 5px 10px 5px 10px ;
}

.calories th,td{
    padding: 5px 10px 5px 10px;
    text-align: center;
}

.app-android{
    display: flex;
}

.app-android-left{
    flex:30%;
}

.app-android-right{
    flex: 70%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.app-android-right figure{
    align-items: center;
    justify-content: center;
}

.app-android-right figure img{
    max-width: 200px;
}

.app-android-right figcaption{
    text-align: center;
    word-wrap: normal;
}

.delivery{
    display: flex;
    align-items: center;
    justify-content: center;
}

.delivery-left{
    flex: 50%;
    font-family: sans-serif;
    padding-right: 5px;
}

.delivery-right{
    background-color: rgb(255, 202, 65) ;
}

.order-now{
    background-color: red;
    color: white;
    font-weight: bolder;   
    border-radius: 20px 20px 20px 20px;
    padding: 10px 30px 10px 30px;
}
